@import "config";
@import "menu";

/* Set box Sizing */
* {
  box-sizing: border-box; // Padding won't affect sizing
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; // Space between the lines
}

/* Headings */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; //Make the font less thick

  &.lg-heading {
    font-size: 6rem; // Font size = 16 * rem
  }

  &.sm-heading {
    // Lighten background of this div and add an opacity
    margin-bottom: 2rem;
    padding: 0.2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

// End of Headings

/* Links */
a {
  color: #fff; // make links white
  text-decoration: none; // remove link underlines
}

/* Header */
header {
  position: fixed; //always stay at top
  z-index: 2; // Always up front
  width: 100%; //stretch across screen
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); //force sticky footer

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color; // change to secondar color on hover
        @include easeOut(); // link will transition to secondary color
      }
    }
  }

  &#home {
    overflow: hidden; //never see scroll bard

    h1 {
      margin-top: 20vh;
    }
  }
}

/* AboutPage */
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// end about-info

/* Footer */

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";