/*
*   Name:       style.css      
*   Author:     Jonathan Garcia
*   Created:    September 22, 2018
*/

body{
    background-color: biege;
    margin:0;
    padding:0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;    
}

h1{
    color: beige;
    background-color: black;
    margin:0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

/*Didn't have an H2 for my name and contact info */
h2 {
    font-size: 24px;
  }

/* Change link color to dark red */
a{
    color: darkred;
}

.container {
    width: 1024px;
    margin:0 auto;
}

/* To float the content to the left */
#main-bio,
#contact-info, 
#bio-image {
    float: left;
}

/* Change main-bio width to use 70% of the screen from the left*/
#main-bio {
    width: 70%;
}

/* Change contact-info width 
    Starting from the end of the "main-bio" div
*/
#contact-info {
    width: 30%;
}

/*  Dimensions of my photo 
    Keeps the original size.
    Will insert a margin of 20 pixels to the right
    This will create a gap between my bio and photo
*/
#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  #mySkills {
    font-size: 14px;
  }